main{
    display: flex;
    justify-content: center;
}

#start-game {
    background-color: bisque;

    width: 10rem;
    height: 10rem;
    padding: 1rem;

    border-radius: var(--radius);

    text-align: center;
    outline-style: groove;
}

#ready-text{
    color: var(--color-bg);
    -webkit-text-stroke-width: 0.05rem;
    -webkit-text-stroke-color: var(--color-outline);

    font-size: 2rem;
}

