body {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

section{
    font-size: 1.5rem;
}

#computer{
    display: none;
}

@media screen and (min-width: 1200px){
    section {
        display: none;
    }

    #computer{
        display: grid;
        grid-template-columns: 1fr 1fr;

    }
    
    #computer p{
        font-size: 1.5rem;
    }
    
    #game-board{
        background-image: url("/media/BirdFlightBackground.png");
        // background-color: skyblue;
        outline-style: groove;
    }

    
}


